* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgba(131, 131, 131, 0.404);
}

.LoginPage{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.infobox{
    width: 40%;
    min-height: 300px;
    height: 100vh;
    background-color: cadetblue;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-right: 30px; */
}

.loginbox{
    background-color: rgba(255, 255, 255, 0.829);
    margin: auto;
    height: 50%;
    /* min-width: 400px;
    max-width: 700px; */
    width: 60%;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 50px;

}

.loginbox h1{
    margin: 20px 0 5px 0;
    color: rgb(84, 147, 150);
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 365px;
    margin-top: 10px;
}

.input input{
    background-color: rgba(165, 164, 164, 0.568);
    color: black;
    width: 80%; 
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    line-height: 100%;
    margin: 5px 0 15px;
}

.input label{
    width: 80%;
    margin-left: 40px;
}

.pass_rem{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.check{
    margin-right: 40px;
}

.pass_rem a{
    margin-left: 40px;
    text-decoration: none;
    color: cornflowerblue;
}

.sign_btn{
    margin: 20px 0;
    width: 80%;
    font-size: 16px;
    padding: 10px 15px;
    border: none;
    border-radius: 25px;
    background-color: cadetblue;
    color: white;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgb(155, 154, 154);
}

.sign_btn:hover{
    cursor: pointer;
    background-color: rgb(55, 127, 129);
}

.sign_up1 a{
    margin-left: 5px;
    text-decoration: none;
    color: cornflowerblue;
}