<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./Styles/Dashboard.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payroll_Dashboard</title>
</head>
<body>
    <div class="dashboard">

        <!--HEADER-->
        <div class="header">
            <div class="logo">
                <h1>PayRoll</h1>
            </div>
            <div class="navbar">
                <input type="text" placeholder="Search..." name="search" id="search_bar">
                <div class="navbar_r">
                    <button></button>
                    <div class="profile_">JD</div>
                </div>
            </div>
        </div>
        
        <div class="content">

            <!--NAV_BAR (fixed sidebar)-->
            <aside class="navbar_static">
                <div class="navbar_l">
                    <button type="button" id="nav_dashboard">Dashboard</button>
                    <button type="button" id="nav_employee">Employees</button>
                    <button type="button" id="nav_payroll">Payroll Run</button>
                    <button type="button" id="nav_payslip">Payslips</button>
                    <button type="button" id="nav_setting">Settings</button>
                </div>
                <div class="nav_footer">
                    <div class="profile_" id="profile_">JD</div>
                    <div class="name">
                        <p>
                            <span id="emp_name">John Doe</span> <br>
                            <span id="role">Admin</span>
                        </p>
                        <a id="logout">Logout</a>
                    </div>
                </div>
            </aside>

            <!--MAIN_CONTENT-->
            <div class="main_area">
                <h1 id="welcome"></h1>
                <p>Here's an overview of your payroll.</p>
                <div class="card_layout1">
                    <div id="card_1">
                        <img src="../Assets/images/chart-line-thin-svgrepo-com.svg" alt="chart icon">
                        <h3>No payrolls yet</h3>
                        <p>Run your first payroll to see data here</p>
                        <button class="run_pay" id="runpay">Run payroll</button>
                    </div>
                    <div id="card_2">
                        <img src="../Assets/images/hair-styles-men-svgrepo-com.svg" alt="employee icon">
                        <h1>0</h1>
                        <p>No employees added yet</p>
                    </div>
                    <div id="card_3">
                        <img src="../Assets/images/time-svgrepo-com.svg" alt="time icon">
                        <h1>-</h1>
                        <p>No payrolls yet</p>
                    </div>
                </div>
                <div class="summary_card">
                    <img src="../Assets/images/currency-exchange-svgrepo-com.svg" alt="currency icon">
                    <h2>You don't have any payroll data yet</h2>
                    <p>
                        Get started by running your first payroll or adding
                        employees to your organization
                    </p>
                    <button class="run_pay" id="runpay2">Run payroll</button>
                    <span class="links">
                        <a href="./Employees.html">Add employee</a> 
                        <!-- <a href="./Payslip.html">Import CSV</a>
                        <a href="./Payroll.html">payroll</a> -->
                    </span>
                </div>
            </div>
        </div>
    </div>

    <script src="./Scripts/dashboard.js"></script>
</body>
</html>