<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./Styles/LoginPage.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoginPage</title>
</head>
<body>
    <div class="LoginPage">
        <div class="infobox">
            <h2>lhadslfjkfklsdjalkj</h2>
        </div>
        <div class="loginbox">
            <img src="" alt="">
            <h1>Sign in to PayRoll</h1>
            <p>Enter your credentials to access your account</p>
            <div class="input">
                <label for="email">Email</label>
                <input type="email" placeholder="you@company.com" id="email"></input>
                <label for="password">Password</label>
                <input type="password" placeholder="password" name="" id="password">
            </div>
            <div class="pass_rem">
                <div class="check">
                    <input type="checkbox" name="" id="remember_check">
                    <label for="remember_check">Remember Me</label>
                </div>
                <a href="./Dashboard.html">Forgot password?</a>
            </div>
            <button type="submit" class="sign_btn">Sign in</button>
            <p">Don't have an account?  <span class="sign_up1"><a href="./SignUpPage.html">Sign Up</a></span></p>
        </div>
    </div>
</body>
</html>