<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./Styles/Payroll.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payroll</title>
</head>
<body>
    <div class="dashboard">

        <!--HEADER-->
        <div class="header">
            <div class="logo">
                <h1>PayRoll</h1>
            </div>
            <div class="navbar">
                <input type="text" placeholder="Search..." name="search" id="search_bar">
                <div class="navbar_r">
                    <button></button>
                    <div class="profile_">JD</div>
                </div>
            </div>
        </div>
        <div class="content">

            <!--NAV_BAR-->
            <aside class="navbar_static">
                <div class="navbar_l">
                    <button type="button" id="nav_dashboard">Dashboard</button>
                    <button type="button" id="nav_employee">Employees</button>
                    <button type="button" id="nav_payroll">Payroll Run</button>
                    <button type="button" id="nav_payslip">Payslips</button>
                    <button type="button" id="nav_setting">Settings</button>
                </div>
                <div class="nav_footer">
                    <div class="profile_" id="profile_">JD</div>
                    <div class="name">
                        <p>
                            <span id="emp_name">John Doe</span> <br>
                            <span id="role">Admin</span>
                        </p>
                        <a id="logout">Logout</a>
                    </div>
                </div>
            </aside>

            <!--MAIN_CONTENT-->
            <div class="main_area">
                <h1>Payroll</h1>
                <div class="payroll_box">
                    <label for="selection">Select Employee</label>
                    <select name="" id="selection">
                        <!-- <option value="">Select...</option>
                        <option value="">John Mensah</option>
                        <option value="">Sarah Owusu</option>
                        <option value="">Kwame Agyemang</option> -->
                    </select>

                    <label for="month">Payroll Month</label>
                    <input type="month" id="period">

                    <label for="salary">Basic Salary($)</label>
                    <input type="number" id="salary" placeholder="0.00">

                    <label for="allowances">Allowances($)</label>
                    <input type="number" id="allowances" placeholder="0.00">

                    <label for="deductions">Deductions($)</label>
                    <input type="number" id="deductions" placeholder="0.00">

                    <button class="run_pay_cal" onclick="runPayroll()">Run Payroll</button>

                    <div class="preview">
                        <!-- <h3>Payroll Preview</h3>
                        <p><strong>Basic Salary:</strong> ₵0.00</p>
                        <p><strong>Total Allowances:</strong> ₵0.00</p>
                        <p><strong>Total Deductions:</strong> ₵0.00</p>
                        <p><strong>Net Salary:</strong> ₵0.00</p> -->
                    </div>
                </div>
            </div>

        </div>
    </div>

    <p id="message"></p>

    <script src="/Components/Scripts/payroll.js"></script>
</body>
</html>
