<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./Styles/Payslip.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payslips</title>
</head>
<body>
    <div class="dashboard">

        <!--HEADER-->
        <div class="header">
            <div class="logo">
                <h1>PayRoll</h1>
            </div>
            <div class="navbar">
                <input type="text" placeholder="Search..." name="search" id="search_bar">
                <div class="navbar_r">
                    <button></button>
                    <div class="profile_">JD</div>
                </div>
            </div>
        </div>
        <div class="content">

            <!--NAV_BAR-->
            <aside class="navbar_static">
                <div class="navbar_l">
                    <button type="button" id="nav_dashboard">Dashboard</button>
                    <button type="button" id="nav_employee">Employees</button>
                    <button type="button" id="nav_payroll">Payroll Run</button>
                    <button type="button" id="nav_payslip">Payslips</button>
                    <button type="button" id="nav_setting">Settings</button>
                </div>
                <div class="nav_footer">
                    <div class="profile_" id="profile_">JD</div>
                    <div class="name">
                        <p>
                            <span id="emp_name">John Doe</span> <br>
                            <span id="role">Admin</span>
                        </p>
                        <a id="logout">Logout</a>
                    </div>
                </div>
            </aside>

            <!--MAIN_CONTENT-->
            <div class="main_area">
                <div class="ask">
                    <input type="text" id="employeeId" placeholder="Employee ID">
                    <input type="month" id="period">
                    <button onclick="loadPayslip()" id="paybtn">Load Payslip</button>
                </div>

                <pre id="output">
                    <div class="payslip-box">

                        <div class="payslip-header">
                            <h2>Payslip</h2>
                            <p id="emp_month">Payroll Month: <span id="month"></span></p>
                        </div>
                        <div class="line"></div>
                        <table>
                            <tr>
                                <td class="left">Employee Name:</td>
                                <td id="employee_name"></td>
                            </tr>
                            <tr>
                                <td class="left">Employee ID:</td>
                                <td id="employee_id"></td>
                            </tr>
                            <tr>
                                <td class="left">Position:</td>
                                <td id="employee_position"></td>
                            </tr>
                            <tr>
                                <td class="left">Department:</td>
                                <td id="employee_department"></td>
                            </tr>
                        </table>
                        <div class="line"></div>
                        <table>
                            <tr>
                                <td class="left">Basic Salary:</td>
                                <td id="basicSalary"></td>
                            </tr>
                            <tr>
                                <td class="left">Allowances:</td>
                                <td id="allowances"></td>
                            </tr>
                            <tr>
                                <td class="left">Deductions:</td>
                                <td id="deduction"></td>
                            </tr>
                        </table> 

                        <div class="netpay-box" id="netpay">
                            Net Salary: 
                        </div>

                        <div class="bu">
                            <button class="print-btn" onclick="window.print()">Print Payslip</button>
                        </div>
                    </div>
                </pre>   
            </div>
        </div>
    </div>

    <script type="module" src="Scripts/payslip.js"></script>
</body>
</html>