<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./Styles/SignUpPage.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUpPage</title>
</head>
<body>
    <div class="SignupPage">
        <div class="infobox">
            <h2>lhadslfjkfklsdjalkj</h2>
        </div>
        <div class="Signupbox">
            <img src="" alt="">
            <h1>Welcome to PayRoll</h1>
            <p>Enter your credentials to create your account</p>
            <form id="signupForm" class="input">
                <div class="input">
                    <label for="first_name">FirstName</label>
                    <input type="text" placeholder="First Name" id="first_name" required>
                    <label for="last_name">LastName</label>
                    <input type="text" placeholder="Last Name" id="last_name" required>
                    <label for="email">Email</label>
                    <input type="email" placeholder="you@company.com" id="email" required>
                    <label for="password">Password</label>
                    <input type="password" placeholder="Password" name="" id="password" required>
                    <label for="confirm_password">Confirm Password</label>
                    <input type="password" placeholder="Confirm Password" name="" id="confirm_password" required>
                </div>
                
                <!-- <div class="pass_rem">
                    <div class="check">
                        <input type="checkbox" name="" id="remember_check">
                        <label for="remember_check">Remember Me</label>
                    </div>
                    <a href="">Forgot password?</a>
                </div> -->

                <button type="submit" class="signup_btn">Sign Up</button>

                <p id="haveAccount">Already have an account? <span><a href="./LoginPage.html">Login</a></span> </p>
            </form>
            
            <p id="message"></p>
            <!-- <p">Don't have an account?  <span class="sign_up1"><a href="./SignUpPage.html">Sign Up</a></span></p> -->
        </div>
    </div>

    <script type="module" src="../Components/Scripts/signup.js"></script>
</body>
</html>